<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disaster Response</title>
    <!-- these links needed to be updated to use the code I borrowed from an earlier dashboard -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- the original source here was outdated and the graphs wouldn't render -->
    <!-- finally found this on Udacity help boards after several wasted hours -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Disaster Response Project</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="https://www.udacity.com">Made with Udacity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/ensst6">My Github</a>
            </li>
          </ul>
        </div>
    </div>
</nav>


<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Disaster Response Project</h1>
        <p class="text-center">Classifying messages to aid disaster response</p>
        <hr />

        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <form action="/go" method="get">
                    <input type="text" class="form-control form-control-lg" name="query" placeholder="Enter a message to classify">
                    <div class="col-lg-5 offset-lg-5">
                        <button type="submit" class="btn btn-lg btn-success">Classify Message</button>
                    </div>
                </form>
            </div>
        </div>

        {% block message %}
        {% endblock %}
    </div>
</div>

<div class="row">
  <!-- the 'block content' needs to be here or it doesn't load the results properly -->
  {% block content %}
  <div class = "col-12">
    <!-- visualizations -->
    <div id="middle-info" class="mt-3">
      <h2 id="tag-line" class="text-center">Overview of Training Dataset</h2>
    </div>

    <hr>

    <div id="charts" class="container mt-3 text-center">
        <!-- first chart -->
        <div class="row mb-6">
          <div class="col-12">
            <div id="{{ids[0]}}"></div>
          </div>
        </div>

    <!--next two charts-->
        <div class="row mb-6">
          <div class="col-6">
            <div id="{{ids[1]}}"></div>
          </div>
          <div class="col-6">
            <div id="{{ids[2]}}"></div>
          </div>
        </div>

    </div>

  </div>
 {% endblock %}

</div>

<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    };
</script>

</body>
</html>
